@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

/* slick carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* html, body {
  transform: scale(0.8);
  transform-origin: top left; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
} */

/* Style for WebKit browsers (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23007bff"><path d="M256 0C256 0 166 179.2 166 266c0 56.6 45.9 102 102 102s102-45.4 102-102c0-86.8-90-266-90-266zm0 358c-32.1 0-58-26.5-58-59 0-23 25-75.9 58-134.4 33 58.5 58 111.5 58 134.4 0 32.5-25.9 59-58 59z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
  }
  
  /* Style for Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23007bff"><path d="M256 0C256 0 166 179.2 166 266c0 56.6 45.9 102 102 102s102-45.4 102-102c0-86.8-90-266-90-266zm0 358c-32.1 0-58-26.5-58-59 0-23 25-75.9 58-134.4 33 58.5 58 111.5 58 134.4 0 32.5-25.9 59-58 59z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
  }
  
  /* Style for Internet Explorer / Edge */
  input[type="range"]::-ms-thumb {
    width: 50px;
    height: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23007bff"><path d="M256 0C256 0 166 179.2 166 266c0 56.6 45.9 102 102 102s102-45.4 102-102c0-86.8-90-266-90-266zm0 358c-32.1 0-58-26.5-58-59 0-23 25-75.9 58-134.4 33 58.5 58 111.5 58 134.4 0 32.5-25.9 59-58 59z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
  }



  @layer utilities {
    .bg-dotted {
      background-image: linear-gradient(180deg, transparent 25%, #e5e7eb 25%, #e5e7eb 50%, transparent 50%);
      background-size: 1px 20px;
    }
  }
  

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }


  .slick-slide {
    padding: 0 5px; /* This creates spacing on both sides of each slide */
    }

    .flip-card {
      position: relative;
      background-color: transparent;
      width: 500px;
      height: 250px;
      /* perspective: 1000px; */
      color: white;
    }
    
    .heading_8264 {
      position: absolute;
      letter-spacing: .2em;
      font-size: 0.5em;
      top: 2em;
      left: 18.6em;
    }
    .chart-container {
      position: relative;
      /* height: ; This allows the Line chart to fill its container */
    }
    
    .logo {
      position: absolute;
      top: 6.8em;
      left: 11.7em;
    }
    
    .chip {
      position: absolute;
      top: 10px;
      left: 1.5em;
    }
    
    .contactless {
      position: absolute;
      top: 3.5em;
      left: 12.4em;
    }
    
    .number {
      position: absolute;
      font-weight: bold;
      font-size: .6em;
      top: 8.3em;
      left: 1.6em;
    }
    
    .valid_thru {
      position: absolute;
      font-weight: bold;
      top: 635.8em;
      font-size: .01em;
      left: 140.3em;
    }
    
    .date_8264 {
      position: absolute;
      font-weight: bold;
      font-size: 0.5em;
      top: 13.6em;
      left: 3.2em;
    }
    
    .name {
      position: absolute;
      font-weight: bold;
      font-size: 0.5em;
      top: 16.1em;
      left: 2em;
    }
    
    .strip {
      position: absolute;
      background-color: black;
      width: 15em;
      height: 1.5em;
      top: 2.4em;
      background: repeating-linear-gradient(
        45deg,
        #303030,
        #303030 10px,
        #202020 10px,
        #202020 20px
      );
    }
    
    .mstrip {
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 8em;
      height: 0.8em;
      top: 5em;
      left: .8em;
      border-radius: 2.5px;
    }
    
    .sstrip {
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 4.1em;
      height: 0.8em;
      top: 5em;
      left: 10em;
      border-radius: 2.5px;
    }
    
    .code {
      font-weight: bold;
      text-align: center;
      margin: .2em;
      color: black;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      box-shadow: 0 8px 14px 0 rgba(4, 81, 235, 0.899);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 1rem;
    }
    
    .flip-card-front {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
      background-color: #1069ef;
    }
    
    .flip-card-back {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
      background-color: #1069ef;
      transform: rotateY(180deg);
    }
  
  