/* testimonials.module.css */
.testimonial {
	width: 300px;
	height: 400px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
	background: linear-gradient(135deg, #1f44fc, #204099);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
	margin: 0 15px; /* Adjusted for consistent spacing */
  }
  
  .testimonial .slick-track {
	display: flex;
	gap: 105px; /* Add gap between cards */
  }
  
  .testimonial * {
	text-align: center;
  }
  
  .testimonial h1 {
	text-transform: uppercase;
	line-height: 1.25;
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
  }
  
  .testimonial p {
	margin: 20px 0;
	line-height: 1.45;
	font-family: "Montserrat", sans-serif;
  }
  
  .reviewer-overlay {
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
  }
  
  .reviewer-overlay img {
	border: 2px solid white;
  }
  
  .reviewer-overlay .name {
	font-weight: bold;
  }
  
  .reviewer-overlay .title {
	font-style: italic;
  }
  